<template>
    <div>
        <bar-chart
        v-if="hasData"
        id="bar"
        :data="data"
        xkey="label"
        resize="true"
        >
        </bar-chart>
        <div v-else>
            <br>
            <h3 style="text-align: center" >No Data</h3>
        </div>
    </div>  
</template>
<script>
import {eventBus} from './../../../main'
import { BarChart } from 'vue-morris'

export default{
    props: ['data'],
    data(){
        return {
            barChartData:[]
        }
    },
    components:{
        BarChart
    },
    computed:{
        hasData(){
            if(this.data.length > 0){
                return true;
            }
            return false;
        }
    }
    
}

</script>
