<template>
<div>
    <table class="table table-responsive-sm">
        <thead>
            <tr>
            <th scope="col"><a class="dark-primary">Year</a></th>
            <th scope="col"><a class="dark-primary">Title</a></th>
            <th scope="col"><a class="dark-primary">Director(s)</a></th>
            <th scope="col"><a class="dark-primary">Country</a></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="movie in getCurrentPage">
            <td ><a @click="requestModal(movie.movieDetails.movies.id)" class="bright-primary"><small>{{movie.year}}</small></a></td>
            <td><a @click="requestModal(movie.movieDetails.movies.id)" class="bright-primary"><small>{{movie.title}}</small></a></td>
            <td><a @click="requestModal(movie.movieDetails.movies.id)" class="bright-primary"><small>{{movie.directors.join()}}</small></a></td>
            <td><a @click="requestModal(movie.movieDetails.movies.id)" class="bright-primary"><small>{{movie.country}}</small></a></td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-1">
            <button class="btn btn-primary" @click="prevPage()"> prev </button>
        </div>
        <div class="col-xs-offset-10 col-xs-1">
            <button class="btn btn-primary" @click="nextPage()"> next </button>
        </div>
    </div>
</div>
</template>
<script>
import {eventBus} from './../../../main'
export default{
    props: ['data'],
    data(){
        return {
            tableData: [],
            columns: ['year','title','director(s)','country'],
            pageSize: 10,
            currentPage: 0
        }
    },
    methods:{
        requestModal(id){
            eventBus.requestModal(id);
        },
        nextPage(){
            if(this.currentPage < this.data.length/this.pageSize){
                this.currentPage = this.currentPage+1;
            }
        },
        prevPage(){
            if(this.currentPage > 0){
                this.currentPage--;
            }
        }
    },
    computed:{
        getCurrentPage(){
            var startingIndex = this.currentPage*this.pageSize;
            var lastIndex = startingIndex+this.pageSize;
            return this.data.slice(startingIndex,lastIndex);
        }
    }
}
</script>
<style>
</style>
