<template>
    <div>
        <br>
        <pie-chart :data="data" :donut="true" :legend="false" :colors="colors" v-if="hasData" :library="{ tooltip: {titleFontColor: '#ff0'}}"></pie-chart>
        <div v-else>
            <br>
            <h3 style="text-align: center" >No Data</h3>
        </div>
    </div>
</template>
<script>

import {eventBus} from './../../../main'
import interpolate  from 'color-interpolate'
const color_parse = require('color-parse');

export default{
    props: ['data', 'startingColor', 'endingColor'],
    data(){
        return {
            donutChartData:[]
        }
    },
    computed:{
        hasData(){
            if(this.data.length > 0){
                return true;
            }
            return false;
        },
        colors(){
            let colormap = interpolate([this.startingColor, this.endingColor]);

            var count = this.data.length;
            var increment = 1/count;

            var colorArray = [];

            var componentToHex = (c) => {
                var hex = c.toString(16);
                return hex.length == 1 ? "0" + hex : hex;
            }

            var rgbToHex = (r, g, b) => {
                return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
            }

            for(var i =0; i<=1; i+=increment ){
                var colorParsed = color_parse(colormap(i)).values;
                colorArray.push(rgbToHex(colorParsed[0],colorParsed[1],colorParsed[2]));
                
            }


            return colorArray;
        }
    }
}

</script>
<style>

</style>
