<template>
    <div >
        <div class="row" style="margin-top:5%; margin-bottom:1%">
            <div class="col-xs-12 text-center">
                <h2 class="display-2">Production Countries</h2>
                <h2><small>Data provided by <a target="_blank"  href="https://www.themoviedb.org/">themoviedb.org</a></small></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <geo-chart
                    :data="getData"
                    :library="{backgroundColor: '#f5f5f5', color:'#fff'}"
                    :colors="['#e4e4e4', '#111']"
                    :height="getSize"
                ></geo-chart>
            </div>
        </div>
    </div>

</template>
<script>

export default{
    props: ['data','isMobile'],
    data(){
        return {
            mapData: []
        }
    },
    computed:{
        getData(){
            if(!this.data){
                return this.mapData;
            }
            return this.data;
        },
        getSize(){
            if(this.isMobile){
                return '200px';
            }
            return '450px';
        }
    }

}

</script>
<style>

</style>
