<template>
    <div>
        <sweet-modal ref="modal" width="70%" height="70%" modal-theme="dark" overlay-theme="dark">
          <!-- <sweet-modal-tab
          title="Wiki"
          id="tab1">

          </sweet-modal-tab> -->
          <div class="container" v-if="data != undefined || data != {}">
              <div class="row">
                  <div class="col-md-4">
                      <img :src="data.posterLink" />
                  </div>
                  <div class="col-md-6">
                      <h2><a :href="data.movieLink" target="_blank">{{data.title}}</a></h2>
                      <h4><a href="#">{{data.directors}}</a></h4>
                      <h4><a :href="data.yearLink" target="_blank">{{data.year}}</a></h4>
                      <hr>
                      <p>{{data.overview}}</p>
                      <div v-if="moreDetails">
                          <small>
                            <p v-if="data.runtime != undefined">Runtime: {{data.runtime}} minutes</p>
                            <p v-if="data.vote_average != undefined">Average Vote: {{data.vote_average}} / 10</p>
                            <p v-if="data.vote_count != undefined">Vote count: {{data.vote_count}}</p>
                          </small>
                      </div>
                      <hr>
                      <button class="btn btn-primary" @click="moreDetails = !moreDetails; "> {{moreLabel}} </button>
                  </div>
              </div>
          </div>
        </sweet-modal>
    </div>
</template>
<script>
import SweetModal from '../CustomModal/src/components/SweetModal.vue'
import SweetModalTab from '../CustomModal/src/components/SweetModalTab.vue'
import {eventBus} from './../../../main'

export default{
    props:['data'],
    data(){
        return{
            modalObject: undefined,
            moreDetails: false
        }
    },
    components: {
        'sweet-modal':SweetModal,
        'sweet-modal-tab':SweetModalTab
    },
    methods:{
        open(){
            if(this.$refs.modal !== undefined){
                this.$refs.modal.open();
            }
        }

    },
    computed:{
        moreLabel(){
            if(this.moreDetails){
                return "Less";
            }
            return "More";
        }
    },
    created(){
        eventBus.$on('openModal',()=>{
            console.log('open')
            this.open()
        })
    }
}

</script>
<style>

</style>
