<template>
    <div class="text-sm-left">
        <v-dialog v-model="dialog">
            <v-card>
                <v-card-title class="headline" primary-title>
                    <h3>
                        <a :href="data.movieLink"
                           target="_blank"
                           style="text-decoration: none; color:black;"
                        >{{data.title}}{{getOriginalTitle()}}</a>
                    </h3>
                    <!--<v-spacer></v-spacer>-->
                    <!--<v-icon @click="hide()" big> close</v-icon>-->
                </v-card-title>
                <v-card-text>
                    <v-container fluid>
                        <v-layout row wrap >
                            <v-flex md1 xs3>
                                <h4 :class="content === 'info' ? 'font-weight-black' : 'font-weight-regular'"><a
                                        @click="content='info'">Info</a></h4>
                            </v-flex>
                            <v-flex md1 xs3>
                                <h4 :class="content === 'crew' ? 'font-weight-black' : 'font-weight-regular'"><a
                                        @click="content='crew'">Crew</a></h4>
                            </v-flex>
                            <v-flex md1 xs3>
                                <h4 :class="content === 'cast' ? 'font-weight-black' : 'font-weight-regular'"><a
                                        @click="content='cast'">Cast</a></h4>
                            </v-flex>
                        </v-layout>
                        <v-divider/>

                        <!-- INFO -->
                        <v-layout row wrap v-if="content === 'info'">
                            <v-flex sm2 xs12>
                                <v-container>
                                    <v-layout column>
                                        <v-img :src="data.posterLink"></v-img>
                                    </v-layout>
                                </v-container>
                            </v-flex>
                            <v-flex sm9 xs12>
                                <v-container>
                                    <v-layout column>
                                        <h4>Synopsis</h4>
                                        <p>{{data.overview}}</p>
                                        <h4>Informations</h4>
                                        <ul>
                                            <li v-if="data.release_date != undefined">Release date:
                                                {{data.release_date}}
                                            </li>
                                            <li v-if="data.runtime != undefined">Runtime: {{data.runtime}} minutes</li>
                                            <li v-if="data.vote_average != undefined">Average Vote:
                                                {{data.vote_average}} / 10
                                            </li>
                                            <li v-if="data.vote_count != undefined">Vote count: {{data.vote_count}}</li>
                                            <li v-if="data.productionCountries != undefined">Production Countries:
                                                {{data.productionCountries.join(', ')}}
                                            </li>
                                            <li v-if="data.spokenLanguages != undefined">Spoken Languages:
                                                {{data.spokenLanguages.join(', ')}}
                                            </li>
                                        </ul>
                                    </v-layout>
                                </v-container>

                            </v-flex>
                        </v-layout>

                        <!--  CREW -->
                        <v-layout row wrap v-if="content === 'crew'">
                            <v-flex md12 xs12 v-if="content === 'crew'">
                                <v-expansion-panel popout>
                                    <v-expansion-panel-content
                                            v-for="(department,i) in data.crew.departments"
                                            :key="i"
                                    >
                                        <template v-slot:header>
                                            <div>{{department.name}}</div>
                                        </template>
                                        <v-card>
                                            <v-card-text>
                                                <ul>
                                                    <li primary v-for="crewMember in department.members">
                                                        {{crewMember.job }}:
                                                        <a :href="crewMember.url" v-if="crewMember.url" target="_blank">
                                                            <strong>{{crewMember.name }}</strong>
                                                        </a>
                                                        <div v-else>{{crewMember.name }}</div>
                                                    </li>
                                                </ul>
                                            </v-card-text>
                                        </v-card>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </v-flex>
                        </v-layout>

                        <!--  CAST -->
                        <v-layout row wrap v-if="content === 'cast'">
                            <v-flex md12 xs12 v-if="content === 'cast'">
                                <ul>
                                    <li  v-for="(actor,i) in data.cast.actors"><a :href="actor.link" target="_blank" >{{actor.name}}</a> - {{actor.character}}</li>
                                </ul>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
    import ModalLayoutDesktop from './ModalLayout/ModalLayoutDesktop.vue'
    import ModalLayoutMobile from './ModalLayout/ModalLayoutMobile.vue'
    import {eventBus} from './../../../main'

    export default {
        props: ['data', 'isMobile'],
        data() {
            return {
                dialog: false,
                modalObject: undefined,
                moreDetails: false,
                content: 'info'
            }
        },
        components: {
            'modal-layout-desktop': ModalLayoutDesktop,
            'modal-layout-mobile': ModalLayoutMobile
        },
        methods: {
            getOriginalTitle() {
                if (this.data.originalTitle && this.data.originalTitle !== this.data.title) {
                    return ' - ' + this.data.originalTitle;
                }
                return ''
            },
            open() {
                this.dialog = true;
            },
            show() {
                this.dialog = true;
            },
            hide() {
                this.dialog = false;
            }

        },
        computed: {
            moreLabel() {
                if (this.moreDetails) {
                    return "Less";
                }
                return "More";
            }
        },
        created() {
            console.log('created')
            eventBus.$on('openModal', () => {
                console.log('this.show()')
                this.show()
            })
        }
    }

</script>
<style>

</style>
