<template>
    <v-container fluid>
        <v-layout row wrap>
            <v-flex xs12>
                <v-text-field placeholder="Search by title, year, directors, etc." v-model="search"
                ></v-text-field>
            </v-flex>
        </v-layout>
        <v-layout row wrap >
            <v-container>
                <v-layout row wrap>
                    <v-flex md1 xs6 v-for="movie in filteredData">
                <v-card flat @click="requestModal(movie.id)" height="200px">
                    <v-layout>
                        <v-flex xs12>
                            <v-img
                                    :src="movie.movie_poster_small"
                                    contain
                            ></v-img>
                        </v-flex>
                    </v-layout>
                </v-card>
            </v-flex>
                </v-layout>
            </v-container>
        </v-layout>
        <v-layout>
        <v-flex>
            <v-btn primary flat @click="toggleShowAll" v-if="moreThanFiveElements">Show More Results</v-btn>
        </v-flex>
        </v-layout>
    </v-container>
</template>


<script>
import {eventBus} from './../../../main'

export default{
    props:['data'],
    data(){
        return {
        search: '',
        nOfItem: 0,
        showAll: false
        }
    },
    methods:{
        toggleShowAll(){
            this.showAll = !this.showAll;
        },
        requestModal(id){
        	eventBus.requestModal(id);
        }
    },
    computed:
    {
        filteredData:function()
        {
            var self=this;
            if(this.search == ''){
                this.showAll = false;
                this.nOfItem = 0;
                return [];
            }
            var filteredData = this.data.filter(
                function(movie){
                    return movie.title
                    .toLowerCase()
                    .indexOf(
                        self.search.toLowerCase()
                    )>=0;
                }
            );

            if(this.showAll){
                this.nOfItem = 0;
                return filteredData;
            }

            this.nOfItem = filteredData.length;
            return filteredData.slice(0,5);

            //return this.customers;
        },
        moreThanFiveElements:function(){
            return this.nOfItem > 5;
        }
    }
}
</script>
