<template>
  <div>
    <modal name="modal-signup" :scrollable="true" width="60%" height="auto">
      <div class="container">
        <modal-signup-desktop v-if="!isMobile"></modal-signup-desktop>
        <modal-signup-mobile v-else></modal-signup-mobile>
        <p>modal signup</p>
      </div>
    </modal>
  </div>
</template>
<script>

    import ModalSignUpDesktop from './ModalLayout/ModalSignUpDesktop.vue'
    import ModalSignUpMobile from './ModalLayout/ModalSignUpMobile.vue'
    import {eventBus} from './../../../main'

    export default {
        props: ['isMobile'],
        data() {
            return {
                modalObject: undefined,
                moreDetails: false
            }
        },
        components: {
            'modal-signup-desktop': ModalSignUpDesktop,
            'modal-signup-mobile': ModalSignUpMobile
        },
        methods: {
            open() {
                if (this.$refs.modal !== undefined) {
                    this.$refs.modal.open();
                }
            },
            show() {
                this.$modal.show('modal-signup');
            },
            hide() {
                this.$modal.hide('modal-signup');
            }

        },

        created() {
            eventBus.$on('openSignupModal', () => {
                this.show()
            })
        }
    }

</script>
<style>

</style>
