<template>
    <v-container >
        <div class="row" style="margin-top:5%; margin-bottom:1%">
            <div class="col-xs-12 text-center">
                <h2 class="display-2">Statistics</h2>
                <h2><small>Data provided by <a target="_blank" href="https://www.themoviedb.org/">themoviedb.org</a></small></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 statbox" v-for="item in data">
                <top-box
                    :boxTitle="item.boxTitle"
                    :boxValueLabel="item.boxValueLabel"
                    :isTop="item.best"
                    :movieList="item.movieList"
                    :sampleValues="{sample:item.sampleValues.sample, total:item.sampleValues.total}"
                ></top-box>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4 text-center">
                <v-btn primary flat @click="setOne">1</v-btn>
                <v-btn primary flat @click="setThree">3</v-btn>
                <v-btn primary flat @click="setFive">5</v-btn>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4 text-center">
                <v-btn primary flat @click="expand">{{buttonText}}</v-btn>
            </div>
        </div>
    </v-container>
</template>
<script>
    import TopBoxSubcomponent from './WidgetsSubcomponent/TopBoxWidgetSub.vue'
    import {eventBus} from './../../../main'

    export default{
        data(){
            return{
                getAll: false,
                buttonText: 'Expand',
                itemDisplayed: 1
            }
        },
        props: ['data'],
        methods:{
            expand(){
                this.getAll = !this.getAll;
                this.buttonText = this.getAll ? 'Reduce' : 'Expand'
            },
            setOne(){
                this.itemDisplayed = 1;
                eventBus.changeTopWorstBoxSize(this.itemDisplayed);
            },
            setThree(){
                this.itemDisplayed = 3;
                eventBus.changeTopWorstBoxSize(this.itemDisplayed);
            },
            setFive(){
                this.itemDisplayed = 5;
                eventBus.changeTopWorstBoxSize(this.itemDisplayed);
            }
        },
        components:{
            'top-box': TopBoxSubcomponent
        },
        computed:{
            getSize(){
                return this.itemDisplayed;
            }
        }
    }
</script>
<style>
    .statbox{
        padding: 5%;
    }


</style>
