<template>
  <v-container fluid>
  <v-layout row>
        <dashboard-title
            :awardTitle="getAwardHeaderDescription.awardTitle"
            :englishTitle="getAwardHeaderDescription.internationalTitle"
            :description="getAwardHeaderDescription.awardDescription"
            :wikiLink="getAwardHeaderDescription.wikiLink"
            :startingYear="getAwardHeaderDescription.startingYear"
            :lastYear="getAwardHeaderDescription.lastYear"
            :festivalName="getAwardHeaderDescription.festivalName"
        ></dashboard-title>
  </v-layout>
        <!--:donutChartData="palmeDorMultipleDirectorWinners"-->
        <!--:barChartData="palmedorTiedWinners"-->
        <!--:languagesCount ="palmedorLanguageCount"-->
        <!--:genresCount="palmedorGenresCount"-->
    <v-layout row>
        <dashboard
            :mapData="countByNation"
            :tableData="getMovies"
            :posterWallData="mobilePosterWall"
            :accordionData="accordionChunkedData"
            :bestWorstData="getBestAndWorst"
            :searchData="searchData"
        >
        </dashboard>
  </v-layout>
  </v-container>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex';
    import dashboard from '../shared/Dashboard.vue'
    import dashboardTitle from '../shared/DashboardTitle.vue'

    export default {
        computed: {
            ...mapGetters([
                'getMovies',
                'getAwardHeaderDescription',
                'countByNation',
                'getBestAndWorst',
                'searchData',
                'accordionChunkedData',
                'mobilePosterWall',
                'palmedorFirstYear',
                'palmedorLastYear'
            ])
        },
        methods: {
            ...mapActions([
                'getAwardMovies',
                'clearAwardData'
            ])
        },
        watch: {
            '$route'(to, from) {
                this.clearAwardData();
                this.getAwardMovies({
                    festival: to.params.festival,
                    award: to.params.award
                });
            }
        },
        created() {
            this.getAwardMovies({
                    festival: this.$route.params["festival"],
                    award: this.$route.params["award"]
                }
            );
        },
        components: {
            'dashboard': dashboard,
            'dashboard-title': dashboardTitle
        }
    }
</script>

