<template>
    <v-flex>
        <h3 class="text-center">
        <router-link class="subheading pointer" :to="'/'+$route.params['festival']" tag="a" active-class="active" exact>
                   {{festivalName}}
                </router-link>
        </h3>

        <h2 class="display-3 text-center">
        {{awardTitle}}
        </h2>
        <h2 class="text-center"><small>{{englishTitle}}</small></h2>
        <!--<div v-if="complete">-->
            <!--<h3 class="display-5 text-center bright-primary"><small>{{englishTitle}}</small></h3>-->
            <!--<h3 class="display-5 text-center bright-primary"><small>{{startingYear}} - {{lastYear}}</small></h3>-->
        <!--</div>-->
        <br>
        <!--<div v-if="complete">-->
            <!--<blockquote class="blockquote" style="margin-left:10%; margin-right:10%; color:#FFE593">-->
                <!--<p>{{description}}</p>-->
                <!--<footer class="blockquote-footer">Wikipedia - <a :href="wikiLink"><cite :title="awardTitle">{{awardTitle}}</cite></a></footer>-->
            <!--</blockquote>-->
        <!--</div>-->
        <!--<div style="text-align: center;">-->
            <!--<a @click="toggle" v-if="complete"><i class="glyphicon glyphicon-menu-up bright-primary"></i></a>-->
            <!--<a @click="toggle" v-else><i class="glyphicon glyphicon-menu-down bright-primary"></i></a>-->
        <!--</div>-->
    </v-flex>
</template>
<script>
    export default{
        props:['festivalName','englishTitle','awardTitle', 'description', 'wikiLink', 'startingYear', 'lastYear'],
        data(){
            return{
                complete: false
            }
        },
        methods:{
            toggle(){
                this.complete = !this.complete
            }
        }
    }
</script>
