<template>
  <v-flex>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12>
        <search-widget :data="searchData"></search-widget>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 v-if="accordionData.length > 0 || posterWallData.length > 0">
        <poster-wall-widget :data="posterWallData"></poster-wall-widget>
      </v-flex>
      <v-flex xs12 v-else>
          <bar-loader style="margin:auto; margin-top:25%" class="custom-class" :color="'#585858'" :loading="'loading'"
                      :width="350" sizeUnit="px"></bar-loader>
      </v-flex>
    </v-layout>
    <!-- <v-layout row wrap>
      <v-flex v-if="bestWorstData.length > 0">
        <top-worst-box-widget  :data="bestWorstData"></top-worst-box-widget>
      </v-flex>
      <v-flex v-else>
        <bar-loader style="margin:auto; margin-top:25%" class="custom-class" :color="'#585858'" :loading="'loading'"
                    :width="350" sizeUnit="px"></bar-loader>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex v-if="mapData.length > 0">
        <map-widget :data="mapData" :isMobile="isMobile"></map-widget>
      </v-flex>
      <v-flex v-else>
        <bar-loader style="margin:auto; margin-top:25%" class="custom-class" :color="'#585858'" :loading="'loading'"
                    :width="350" sizeUnit="px"></bar-loader>
      </v-flex>
    </v-layout > -->
    <div class="row">
      <!--<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6" style="padding:3%">-->
      <!--<h3 class="text-center">Multiple Director Winners</h3>-->
      <!--<donut-chart-widget :data="donutChartData" :startingColor="'#ffeec6'" :endingColor="'#FECB00'"></donut-chart-widget>-->
      <!--</div>-->
      <!--<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6" style="padding:3%">-->
      <!--<h3 class="text-center">Tied Winners</h3>-->
      <!--<donut-chart-widget :data="barChartData" :startingColor="'#ffeec6'" :endingColor="'#FECB00'"></donut-chart-widget>-->
      <!--</div>-->
      <!--<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6" style="padding:3%">-->
      <!--<h3 class="text-center">Languages Count</h3>-->
      <!--<donut-chart-widget :data="languagesCount" :startingColor="'#ffeec6'" :endingColor="'#FECB00'"></donut-chart-widget>-->
      <!--</div>-->
      <!--<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6" style="padding:3%">-->
      <!--<h3 class="text-center">Genres Count</h3>-->
      <!--<donut-chart-widget :data="genresCount" :startingColor="'#ffeec6'" :endingColor="'#FECB00'"></donut-chart-widget>-->
      <!--</div>-->
      <!-- <div class="col-xs-4">
          <h3 class="text-center">Tied Winners</h3>
          <donut-chart-widget :data="donutChartData"></donut-chart-widget>
      </div>
      <div class="col-xs-4">
          <h3 class="text-center">Tied Winners</h3>
          <donut-chart-widget :data="donutChartData"></donut-chart-widget>
      </div> -->
    </div>
    <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
    <!--<custom-table-widget :data="tableData">-->
    <!--</custom-table-widget>-->
    <!--</div>-->
    <!--</div>-->
    <modal-widget :data="modalData" :isMobile="isMobile"></modal-widget>

  </v-container>
  </v-flex>
</template>
<script>
    import MapWidget from './Widgets/MapWidget.vue'
    import CustomTableWidget from './Widgets/CustomTableWidget.vue'
    import ModalWidget from './Widgets/ModalWidget.vue'
    import DonutChartWidget from './Widgets/DonutChartWidget.vue'
    import PosterWallWidget from './MobileWidgets/PosterWallWidget.vue'
    import TopWorstBoxWidget from './Widgets/TopWorstBoxWidget.vue'
    import TopWorstBoxWidgetMobile from './MobileWidgets/TopWorstBoxWidgetMobile.vue'
    import SearchWidget from './Widgets/SearchWidget.vue'
    import {eventBus} from './../../main'
    import {mapGetters} from 'vuex';
    import {
        BarLoader
    } from '@saeris/vue-spinners'

    export default {
        props: [
            'mapData',
            'tableData',
            'carouselData',
            'donutChartData',
            'barChartData',
            'accordionData',
            'bestWorstData',
            'posterWallData',
            'searchData',
            'languagesCount',
            'genresCount'
        ],

        components: {
            'map-widget': MapWidget,
            'modal-widget': ModalWidget,
            'donut-chart-widget': DonutChartWidget,
            'top-worst-box-widget': TopWorstBoxWidget,
            'top-worst-box-widget-mobile': TopWorstBoxWidgetMobile,
            'poster-wall-widget': PosterWallWidget,
            'search-widget': SearchWidget,
            'custom-table-widget': CustomTableWidget,
            'bar-loader': BarLoader


        },

        data() {
            return {
                //makes dashboard responsive
                windowWidth: 0,
                windowHeight: 0,
            }
        },

        mounted() {
            this.$nextTick(function () {
                window.addEventListener('resize', this.getWindowWidth);
                window.addEventListener('resize', this.getWindowHeight);

                //Init
                this.getWindowWidth()
                this.getWindowHeight()
            })
        },

        methods: {
            getWindowWidth(event) {
                this.windowWidth = document.documentElement.clientWidth;
            },

            getWindowHeight(event) {
                this.windowHeight = document.documentElement.clientHeight;
            },
            loadModalData(id) {
                this.$store.dispatch('loadModalDataByIdAndAward', {id: id, award: 'cannes'});
            }
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.getWindowWidth);
            window.removeEventListener('resize', this.getWindowHeight);
        },
        created() { //on component created

            eventBus.$on('requestModal', (id) => {
                console.log(id)
                this.loadModalData(id);
                eventBus.openModal();
            })
        },
        computed: {
            isMobile() {
                if (this.windowWidth < 768) {
                    return true;
                }
                return false;
            },
            ...mapGetters(['modalData'])
        }
    }

</script>
<style>

</style>
