<template>
    <v-container fluid>
        <v-layout justify-center row>
            <v-flex xs12>
                <h2 class="text-center display-2">
                    {{title}}
                </h2>
                <div class="text-center">{{subtitle}}</div>
            </v-flex>
        </v-layout>
        <hr>
        <v-layout justify-center row>
            <v-flex xs12>
                <awards-wall :data="awards"></awards-wall>
            </v-flex>
        </v-layout>
        <hr>
        <v-layout justify-center row >
            <v-flex xs12>
                <!-- <festival-poster-wall :data="posters" v-if="posters.length"></festival-poster-wall> -->
            </v-flex>
        </v-layout>
    </v-container>

    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
    <!--<h1 class="display-1 brand text-center">-->
    <!--{{title}}-->
    <!--</h1>-->
    <!--<h1>-->
    <!--<small>{{subtitle}}</small>-->
    <!--</h1>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
    <!--<awards-wall :data="awards"></awards-wall>-->
    <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
    <!--<festival-poster-wall :data="posters"></festival-poster-wall>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

</template>
<script>
    import AwardsWallWidget from "./HomeWidget/AwardsWallWidget.vue"
    import PosterWallWidget from "./HomeWidget/PosterWallWidget.vue"

    export default {
        props: ['title', 'subtitle', 'awards', 'posters'],
        components: {
            'awards-wall': AwardsWallWidget,
            'festival-poster-wall': PosterWallWidget
        }
    }

</script>
<style>
</style>
