<template>
    <v-flex xs12>
        <v-toolbar dense flat>
            <v-toolbar-side-icon
                    @click="drawer = !drawer"
            ></v-toolbar-side-icon>
            <v-toolbar-title v-if="!searchBar">Film Festival Awards</v-toolbar-title>
            <search-widget v-else :data="searchData"></search-widget>
            <v-spacer></v-spacer>
            <v-btn icon @click="changeToSearchBar">
                <v-icon v-if="!searchBar">search</v-icon>
                <v-icon v-else>remove</v-icon>
            </v-btn>
        </v-toolbar>
        <v-navigation-drawer v-model="drawer" absolute temporary >
            <v-list>
                <v-list-tile :to="'/'">
                    <v-list-tile-title >Home</v-list-tile-title>
                </v-list-tile>
                <v-divider></v-divider>
                <v-list-group v-for="(festival,i) in getMenu" :key="i">
                    <template v-slot:activator>
                        <v-list-tile>
                            <v-list-tile-title>{{festival.title}}</v-list-tile-title>
                        </v-list-tile>
                    </template>
                    <ul class="text-xs-left" style="list-style: none;" v-for="(award, i) in festival.listItems" :key="i">
                        <li>
                            <a :href="award.uri">{{award.text}}</a>
                        </li>
                    </ul>
                </v-list-group>
            </v-list>
        </v-navigation-drawer>
    </v-flex>
</template>
<script>
    import {eventBus} from './../../main'
    import {mapGetters, mapActions} from 'vuex';
    import SearchWidget from '../shared/Widgets/SearchWidget.vue'

    export default {
        data() {
            return {
                drawer: null,
                isOpen:false,
                searchBar: false
            }
        },
        methods: {
            requestSignUp() {
                eventBus.openSignupModal()
            },
            changeToSearchBar(){
                this.searchBar =! this.searchBar
            },
            ...mapActions(['getMenuData']),
            
        },
        computed: {
            ...mapGetters(['getMenu', 'searchData'])
        },
        created() {
            this.getMenuData()
        },
        components:{
            SearchWidget
        }

    }
</script>
