<template>
    <front-page :title="nameHomeData.internationalName"
                :subtitle="nameHomeData.originalName"
                :awards="awardsHomeData"
                :posters="postersHomeData"></front-page>
</template>
<script>

    import {mapGetters} from 'vuex';
    import FrontPage from './FrontPage.vue'

    export default {
        data() {
            return {
                awards: {},
                posters: {}
            }
        },
        computed: {
            ...mapGetters([
                'nameHomeData',
                'awardsHomeData',
                'postersHomeData'
            ])

        },
        created() {
            this.$store.dispatch('getNameHomeData', this.$route.params.festival)
            this.$store.dispatch('getAwardsHomeData', this.$route.params.festival)
            this.$store.dispatch('getPostersHomeData', this.$route.params.festival)
        },
        watch: {
            '$route'(to, from) {
                this.$store.dispatch('getNameHomeData', this.$route.params.festival)
                this.$store.dispatch('getAwardsHomeData', this.$route.params.festival)
                this.$store.dispatch('getPostersHomeData', this.$route.params.festival)
            }
        },
        components: {
            'front-page': FrontPage
        }
    }
</script>
