<template>
    <v-flex>
        <div class="row" style="margin-top:2%; margin-bottom:1%">
            <div class="col-xs-12 text-center">
                <h2 class="display-4">Posters</h2>
                <small>Images provided by <a target="_blank" href="https://www.themoviedb.org/">themoviedb.org</a></small>
            </div>
        </div>
        <div class="row" v-for="items in getData">

            <div class="col-xs-6 col-md-4 image-poster" v-for="item in items">
                <a @click="requestModal(item.id)" style="cursor:pointer;">
                    <v-card flat>
                        <v-img :src="item.image" max-height="500" contain></v-img>
                    </v-card>
                </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-4 text-center">
                <v-btn primary flat @click="fiveLess"><v-icon>remove</v-icon></v-btn>
            </div>
            <div class="col-xs-4 text-center">
                <v-btn primary flat @click="expand"><v-icon>expand_more</v-icon></v-btn>
            </div>
            <div class="col-xs-4 text-center">
                <v-btn primary flat @click="fiveMore"><v-icon>add</v-icon></v-btn>
            </div>
        </div>
    </v-flex>
</template>
<script>
    import {eventBus} from './../../../main'

    export default {
        props: ['data'],
        data() {
            return {
                accordionData: [],
                getAll: false,
                buttonText: 'Expand',
                defaultSize: 1
            }
        },
        computed: {
            getData() {
                if (this.getAll) {
                    return this.data;
                }
                return this.data.slice(0, this.defaultSize);
            }
        },
        methods: {
            expand() {
                this.getAll = !this.getAll;
                this.defaultSize = this.getAll ? this.data.length : 1
                this.buttonText = this.getAll ? 'Reduce' : 'Expand'
            },
            fiveLess() {
                if (this.defaultSize > 1) {
                    this.defaultSize--;
                }
            },
            fiveMore() {
                if (this.defaultSize < this.data.length) {
                    this.defaultSize++;
                }
            },
            requestModal(id) {
                eventBus.requestModal(id);
            }
        }
    }

</script>
<style>
    .image-poster {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .img-responsive {
        margin: 0 auto;
    }
</style>
