<template>
    <div class="container-fluid" style="text-align:center; margin-top:5%; margin-bottom:5%">
        <div class="row">
            <div class="col-xs-6 statbox">
                <top-box-votes
                    :boxTitle="'Votes'"
                    :boxValueLabel="'Vote: '"
                    :isTop="true"
                    :movieList="data.topVote.top"
                    :sampleValues="{sample:data.topVote.sample, total:data.topVote.total}"
                ></top-box-votes>
            </div>
            <div class="col-xs-6 statbox">
                <top-box-votes
                    :boxTitle="'Votes'"
                    :boxValueLabel="'Vote: '"
                    :movieList="data.topVote.bottom"
                    :sampleValues="{sample:data.topVote.sample, total:data.topVote.total}"
                ></top-box-votes>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 statbox">
                <top-box
                    :boxTitle="'Popularity'"
                    :boxValueLabel="'Popularity: '"
                    :isTop="true"
                    :movieList="data.topPopularity.top"
                    :sampleValues="{sample:data.topPopularity.sample, total:data.topPopularity.total}"
                ></top-box>
            </div>
            <div class="col-xs-6 statbox">
                <top-box
                    :boxTitle="'Popularity'"
                    :boxValueLabel="'Popularity: '"
                    :movieList="data.topPopularity.bottom"
                    :sampleValues="{sample:data.topPopularity.sample, total:data.topPopularity.total}"
                ></top-box>
            </div>
        </div>
        <!-- Optionals -->
        <div class="row" v-if="getAll">
            <div class="col-xs-6 statbox">
                <top-box
                    :boxTitle="'Budget'"
                    :boxValueLabel="'Budget: $'"
                    :isTop="true"
                    :movieList="data.topBudget.top"
                    :sampleValues="{sample:data.topBudget.sample, total:data.topBudget.total}"
                ></top-box>
            </div>
            <div class="col-xs-6 statbox">
                <top-box
                    :boxTitle="'Budget'"
                    :boxValueLabel="'Budget: $'"
                    :movieList="data.topBudget.bottom"
                    :sampleValues="{sample:data.topBudget.sample, total:data.topBudget.total}"
                ></top-box>
            </div>
        </div>
        <div class="row" v-if="getAll">
            <div class="col-xs-6 statbox">
                <top-box
                    :boxTitle="'Revenue'"
                    :boxValueLabel="'Revenue: $'"
                    :isTop="true"
                    :movieList="data.topRevenue.top"
                    :sampleValues="{sample:data.topRevenue.sample, total:data.topRevenue.total}"
                ></top-box>
            </div>
            <div class="col-xs-6 statbox">
                <top-box
                    :boxTitle="'Revenue'"
                    :boxValueLabel="'Revenue: $'"
                    :movieList="data.topRevenue.bottom"
                    :sampleValues="{sample:data.topRevenue.sample, total:data.topRevenue.total}"
                ></top-box>
            </div>
        </div>
        <div class="row" v-if="getAll">
            <div class="col-xs-6 statbox">
                <top-box
                    :boxTitle="'Runtime'"
                    :boxValueLabel="'Runtime: '"
                    :isTop="true"
                    :movieList="data.topDuration.top"
                    :sampleValues="{sample:data.topDuration.sample, total:data.topDuration.total}"
                ></top-box>
            </div>
            <div class="col-xs-6 statbox">
                <top-box
                    :boxTitle="'Runtime'"
                    :boxValueLabel="'Runtime: '"
                    :movieList="data.topDuration.bottom"
                    :sampleValues="{sample:data.topDuration.sample, total:data.topDuration.total}"
                ></top-box>
            </div>
        </div>
        <hr>
        <br>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8 text-center">
                <button class="btn btn-primary" @click="setOne">1</button>
                <button class="btn btn-primary" @click="setThree">3</button>
                <button class="btn btn-primary" @click="setFive">5</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4 text-center">
                <button class="btn btn-primary" @click="expand">{{buttonText}}</button>
            </div>
        </div>
    </div>
</template>
<script>
    import TopBoxWidgetSub from '../Widgets/WidgetsSubcomponent/TopBoxWidgetSub.vue'
    import TopBoxWidgetSubVotes from '../Widgets/WidgetsSubcomponent/TopBoxWidgetSubVotes.vue'
    import {eventBus} from './../../../main'

    export default{
        data(){
            return{
                getAll: false,
                buttonText: 'Expand'
            }
        },
        props: ['data'],
        methods:{
            expand(){
                this.getAll = !this.getAll;
                this.buttonText = this.getAll ? 'Reduce' : 'Expand'
            },
            setOne(){
                this.itemDisplayed = 1;
                eventBus.changeTopWorstBoxSize(this.itemDisplayed);
            },
            setThree(){
                this.itemDisplayed = 3;
                eventBus.changeTopWorstBoxSize(this.itemDisplayed);
            },
            setFive(){
                this.itemDisplayed = 5;
                eventBus.changeTopWorstBoxSize(this.itemDisplayed);
            }
        },
        components:{
            'top-box': TopBoxWidgetSub,
            'top-box-votes': TopBoxWidgetSubVotes
        }
    }
</script>
<style>
    .statbox{
        padding: 5%;
    }

</style>
