<template>
<div>


    <div class="row">
        <div class="col-xs-12">
            <img :src="data.posterLinkSmall" />
        </div>
    </div>
    <div class="row">

    
        <div class="col-md-6">
            <h2 class="page-title"><a :href="data.movieLink" target="_blank">{{data.title}}</a></h2>
            <h2 v-if="displayOriginalTitle"><small>{{data.originalTitle}}</small></h2>
            <hr>
            <h4><a href="#">{{data.directors}}</a></h4>
            <h4><a :href="data.yearLink" target="_blank">{{data.year}}</a></h4>
            <hr>
            <p class="modal-text">{{data.overview}}</p>
            <div v-if="moreDetails">
                <p class="modal-text" v-if="data.runtime != undefined">Runtime: {{data.runtime}} minutes</p>
                <p class="modal-text" v-if="data.vote_average != undefined">Average Vote: {{data.vote_average}} / 10</p>
                <p class="modal-text" v-if="data.vote_count != undefined">Vote count: {{data.vote_count}}</p>                     
            </div>
            <hr>
            <button class="btn btn-primary" @click="moreDetails = !moreDetails; "> {{moreLabel}} </button>
        </div>
    </div>
    </div>
</template>
<script>
    export default{
        props:['data'],
        computed:{
            moreLabel(){
                if(this.moreDetails){
                    return "Less";
                }
                return "More";
                },
            displayOriginalTitle(){
                return this.data.originalTitle!= '' 
                && this.data.originalTitle!=undefined 
                && this.data.originalTitle!= null 
                && this.data.originalTitle != this.data.title
            }
            },
        data(){
        return{
            modalObject: undefined,
            moreDetails: false
        }
    },
    }    
</script>