<template>
  <div class="container">
    <div class="row" style="margin-bottom: 5%">
      <div class="col-xs-12">
        <h2 class="display-2 text-center"><a :href="data.movieLink" target="_blank">{{data.title}}
          <br v-if="data.title && data.title.length > 18">
          <small v-else><span v-if="displayOriginalTitle"> - </span></small>
          <small v-if="displayOriginalTitle"> {{data.originalTitle}}</small>
        </a></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <img class="img-responsive" :src="data.posterLink"/>
      </div>
      <div class="col-xs-9">
        <div class="container-fluid">
          <div class="row" style="color:white">
            <div class="col-xs-12">
              <h3>Base Data</h3>
              <p v-if="data.release_date != undefined">Release date: {{data.release_date}}</p>
              <p v-if="data.runtime != undefined">Runtime: {{data.runtime}} minutes</p>
              <p v-if="data.vote_average != undefined">Average Vote: {{data.vote_average}} / 10</p>
              <p v-if="data.vote_count != undefined">Vote count: {{data.vote_count}}</p>
            </div>
          </div>
          <div class="row" style="color:white">
            <div class="col-xs-12">
              <h3>Synopsis</h3>
              <p>{{data.overview}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h3>Crew</h3>
              <div v-for="department in data.crew.departments" style="color:white">
                <h4>
                  <small>{{department.name}}</small>
                </h4>
                <p v-for="crewMember in department.members">{{crewMember.job }}: {{crewMember.name }}</p>
                <br>
              </div>
            </div>
          </div>
          <!--<h4><a href="#">{{data.directors}}</a></h4>-->
          <!--<h4><a :href="data.yearLink" target="_blank">{{data.year}}</a></h4>-->
          <!--<hr>-->
          <div v-if="moreDetails">
            <div class="row"><h3>Crew</h3></div>
            <div v-for="department in data.crew.departments" style="color:white">
              <h4>{{department.name}}</h4>
              <div v-for="crewMember in department.members">{{crewMember.job }}: {{crewMember.name }}</div>
            </div>
            <small>
              <p class="modal-text" v-if="data.runtime != undefined">Runtime: {{data.runtime}} minutes</p>
              <p class="modal-text" v-if="data.vote_average != undefined">Average Vote: {{data.vote_average}} / 10</p>
              <p class="modal-text" v-if="data.vote_count != undefined">Vote count: {{data.vote_count}}</p>
            </small>
          </div>
          <hr>
          <button class="btn btn-primary" @click="moreDetails = !moreDetails; "> {{moreLabel}}</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
    export default {
        props: ['data'],
        computed: {
            moreLabel() {
                if (this.moreDetails) {
                    return "Less";
                }
                return "More";
            },
            displayOriginalTitle() {
                return this.data.originalTitle != ''
                    && this.data.originalTitle != undefined
                    && this.data.originalTitle != null
                    && this.data.originalTitle != this.data.title
            }

        },
        data() {
            return {
                modalObject: undefined,
                moreDetails: false
            }
        },
    }
</script>
