<template>
        <v-container fluid>
            <v-layout  align-center justify-center column fill-height>
                <v-flex md12>
                    <h1 class="text-center display-1">
                        Film Festival Awards
                    </h1>
                    <div class="text-center subheading">Film festival movies and statistics</div>
                </v-flex>
            </v-layout>
        </v-container>
</template>
<script>

    import About from './shared/Widgets/Home/About.vue'
    import VerticalTimeline from './shared/Widgets/Home/VerticalTimelineWidget.vue'
    import axios from "axios";

    export default {
        data() {
            return {
                timelineData: []
            }
        },
        components: {
            'vertical-timeline': VerticalTimeline,
            'about': About
        },
        methods: {
            getData() {
                return axios.get('/timeline')
                    .then(res => {
                        console.log(res.data)
                        this.timelineData = res.data;
                    })
                    .catch(error => console.log(error))
            }
        },
        computed: {
            getTimelineData() {
                return this.timelineData;
            }
        },
        created() {
            this.getData();
        }
    }
</script>
