<template>
    <div>
        <div>
            <i class="glyphicon glyphicon-arrow-up glyphicon-top-bottom arrow-up" v-if="checkIsTop"></i>
            <i class="glyphicon glyphicon-arrow-down glyphicon-top-bottom arrow-down" v-else></i>

            <h3 class="top-bottom-title-box" >
                {{boxTitle}}
            </h3>
        </div>
        <br>
        <transition-group name="list" tag="div">
            <div v-for="item in chunkedMovieList" v-bind:key="item.title" class="list-item">

                <h3><a class="font-weight-bold lead" @click="requestModal(item.id)">{{item.title}}</a></h3><!--item.link-->
                <p class="dark-primary">{{boxValueLabel}}{{item.value}} - {{item.vote_count}} votes</p><!--Budget: $-->
                <hr>
            </div>
        </transition-group>
        <div>
            <a @click="singleButton" v-if="showDecreaseButton"><i class="glyphicon glyphicon-triangle-top"></i></a>
            <a @click="decreaseSize" v-if="showDecreaseButton"><i class="glyphicon glyphicon-menu-up"></i></a>

            <a @click="increaseSize" v-if="showIncreaseButton"><i class="glyphicon glyphicon-menu-down"></i></a>
            <a @click="completeButton" v-if="showIncreaseButton"><i class="glyphicon glyphicon-triangle-bottom" ></i></a>
        </div>
        <small>Only {{sampleValues.sample}} of {{sampleValues.total}} movies has valid data</small>
        <br>
    </div>
</template>
<script>
import {eventBus} from './../../../../main'

export default{
    data(){
        return{
            arraySize: 1,
            showIncrease: true,
            showDecrease: true,

        }
    },
    props:['boxTitle','boxValueLabel','movieList', 'sampleValues','isTop','size'],
    computed:{
        chunkedMovieList(){
            return this.sliceArray();
        },
        showIncreaseButton(){
            return this.arraySize < this.movieList.length;
        },
        showDecreaseButton(){
            return this.arraySize != 1;
        },
        checkIsTop(){
            return this.isTop==true;
        }

    },
    methods:{
        sliceArray(){
            return this.movieList.slice(0, this.arraySize);
        },
        increaseSize(){
            if(this.arraySize < this.movieList.length ){
                this.arraySize+=1;
            }
        },
        decreaseSize(){
            if(this.arraySize>1){
                this.arraySize-=1;
            }
        },
        singleButton(){
            this.arraySize=1;
        },
        completeButton(){
            this.arraySize=this.movieList.length;
        },
        requestModal(id){
        	eventBus.requestModal(id);
        }
    },
    created(){ //on component created

        eventBus.$on('changeTopWorstBoxSize',(size)=>{
            this.arraySize = size;
        })
    }
}
</script>
<style>
.glyphicon-top-bottom {
    font-size: 15px;
}

.list-item {
  display: inline-block;
  margin-right: 10px;
}
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
</style>
