<template>
  <div>
    <v-container >
      <div >
        <!--<i class="glyphicon glyphicon-arrow-up glyphicon-top-bottom arrow-up" v-if="checkIsTop"></i>-->
        <!--<i class="glyphicon glyphicon-arrow-down glyphicon-top-bottom arrow-down" v-else></i>-->

        <h4 class="display-1">
          {{boxTitle}}
        </h4>
      </div>
      <transition-group name="list" tag="div">
        <v-layout v-for="item in chunkedMovieList" v-bind:key="item.title" row wrap>
          <v-flex xs12>
            <h5 class="font-weight-black.font-italic"><a @click="requestModal(item.id)">{{item.title}}: <span>{{boxValueLabel}}{{item.value}}</span></a></h5>
          </v-flex>
        </v-layout>
      </transition-group>
      <v-layout row wrap>
        <v-flex xs12>
          <a @click="singleButton" v-if="showDecreaseButton"><i class="glyphicon glyphicon-triangle-top"></i></a>
          <a @click="decreaseSize" v-if="showDecreaseButton"><i class="glyphicon glyphicon-menu-up"></i></a>

          <a @click="increaseSize" v-if="showIncreaseButton"><i class="glyphicon glyphicon-menu-down"></i></a>
          <a @click="completeButton" v-if="showIncreaseButton"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12>
          <small class="bright-secondary">Samples: {{sampleValues.sample}} - Movies: {{sampleValues.total}}
          </small>
        </v-flex>
      </v-layout>
    </v-container>
    <div>

    </div>
    <p>

    </p>
  </div>
</template>
<script>
    import {eventBus} from './../../../../main'

    export default {
        data() {
            return {
                arraySize: 1,
                showIncrease: true,
                showDecrease: true,

            }
        },
        props: ['boxTitle', 'boxValueLabel', 'movieList', 'sampleValues', 'isTop', 'size'],
        computed: {
            chunkedMovieList() {
                return this.sliceArray();
            },
            showIncreaseButton() {
                return this.arraySize < this.movieList.length;
            },
            showDecreaseButton() {
                return this.arraySize != 1;
            },
            checkIsTop() {
                return this.isTop === true;
            }
        },
        methods: {
            sliceArray() {
                return this.movieList.slice(0, this.arraySize);
            },
            increaseSize() {
                if (this.arraySize < this.movieList.length) {
                    this.arraySize += 1;
                }
            },
            decreaseSize() {
                if (this.arraySize > 1) {
                    this.arraySize -= 1;
                }
            },
            singleButton() {
                this.arraySize = 1;
            },
            completeButton() {
                this.arraySize = this.movieList.length;
            },
            requestModal(id) {
                eventBus.requestModal(id);
            }
        },
        created() { //on component created

            eventBus.$on('changeTopWorstBoxSize', (size) => {
                this.arraySize = size;
            })
        }
    }
</script>
<style>


</style>
