<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center display-3">
                        About
                </h3>
                <h4 class="text-center display-4"><small>Film Festival Awards Project</small></h4>
                <br>
            </div>
        </div>
    </div>
</template>