<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-center display-3">
          Timeline
        </h3>
        <h4 class="text-center display-4">
          <small>First Editions</small>
        </h4>
        <br>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <ul class="timeline">
      <p style="display:none">{{getData}}</p>
      <li v-for="(item, index) in timelineData" :class="index%2===0?'':'timeline-inverted'">
        <div class="timeline-badge"></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">
              <router-link
                  :to="item.route" tag="a" active-class="active" class="festival-link" exact>{{item.title}}
              </router-link>
            </h4>
            <p>
              <small><i class="glyphicon glyphicon-time"></i> <b>{{item.headline}}</b> - <b><a :href="item.website"
                                                                                               target="_blank">Website</a></b>
              </small>
            </p>
          </div>
          <div class="timeline-body">
            <p>{{item.body}}</p>
            <footer class="blockquote-footer">Wikipedia - <a :href="item.link" target="_blank" ><cite
                :title="item.title">{{item.title}}</cite></a></footer>
          </div>
        </div>
      </li>
      <br>
      <li>
        <div class="timeline-badge-arrow">
          <i class="glyphicon glyphicon-menu-down"></i>
        </div>
      </li>

    </ul>
  </div>
</template>
<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                timelineData: []
            }
        },
        computed: {
            getData() {
                return axios.get('/timeline')
                    .then(res => {
                        this.timelineData = res.data;
                    })
                    .catch(error => console.log(error))
            }
        }

    }
</script>
<style>
  .right-floating {
    float: right !important;
  }
</style>
