<template>
    <v-app>
        <v-container fluid grid-list-xs text-xs-center>
      <v-layout row wrap>
          <router-view name="header"></router-view>
      </v-layout>
      <router-view></router-view>
      <v-layout row wrap>
          <v-flex xs12>
              <router-view name="footer"></router-view>
          </v-flex>
      </v-layout>
    <!--<signup-modal-widget :isMobile="isMobile"></signup-modal-widget>-->
  </v-container>
    </v-app>
</template>

<script>

    import SignupModalWidget from './components/shared/Widgets/SignupModalWidget.vue'
    import Footer from './components/shared/Footer.vue'


    export default {
        data() {
            return {
                windowWidth: 0,
                windowHeight: 0,
            }
        },
        components: {
            'footer-app': Footer,
            'signup-modal-widget': SignupModalWidget
        },
        computed: {
            isMobile() {
                if (this.windowWidth < 768) {
                    return true;
                }
                return false;
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.addEventListener('resize', this.getWindowWidth);
                window.addEventListener('resize', this.getWindowHeight);

                //Init
                this.getWindowWidth()
                this.getWindowHeight()
            })
        },
        methods: {
            getWindowWidth(event) {
                this.windowWidth = document.documentElement.clientWidth;
            },

            getWindowHeight(event) {
                this.windowHeight = document.documentElement.clientHeight;
            }
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.getWindowWidth);
            window.removeEventListener('resize', this.getWindowHeight);
        }


    }
</script>

<style>
    a:hover {
        color: #0D0D0D;
        text-decoration: none;
    }
</style>
