<template>
    <v-container>
        <v-layout v-for="selection in data" align-center justify-space-between row>
            <v-flex>
                <h3 class="display-3 text-center">{{selection.internationalName}}
                </h3>
                <h3 class="subheading text-center"><small>{{selection.originalName}}</small></h3>
                <v-container>
                    <v-layout row wrap>
                        <v-flex md6 xs12 v-for="item in selection.awards">
                            <v-card flat :to="item.link" style="
                            text-decoration: none;
                            background-color:transparent;
                            margin: 0 10%;
                            ">
                                <v-card-text>
                                    <h4 class="text-center">{{item.originalName}}</h4>
                                    <h4 class="text-center">
                                        <small>{{item.internationalName}}</small>
                                    </h4>
                                    <!-- <small>{{item.firstYear}} - {{item.lastYear}}</small> -->
                                    <p>{{item.description}} - <strong :href="item.wikiUrl">wikipedia.org</strong></p>
                                </v-card-text>

                                <!--<v-img :src="item.image"></v-img>-->

                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-flex>
        </v-layout>
    </v-container>

    <!--<div>-->
    <!--<div class="container">-->

    <!--<div class="row" v-for="selection in getData" style="margin: 15px">-->
    <!--<div class="col-xs-12">-->
    <!--<h3 class="text-center display-3">-->
    <!--{{selection.internationalName}}-->
    <!--</h3>-->
    <!--<h4 class="text-center display-4"><small>{{selection.originalName}}</small></h4>-->
    <!--<br>-->
    <!--</div>-->

    <!--<div class="col-sm-3" v-for="item in selection.awards">-->
    <!--<router-link :to="item.link" tag="a" active-class="active">-->
    <!--<img :src="item.image"-->
    <!--class="img-responsive award-wall-image">-->
    <!--<h4 class="text-center">{{item.name}}</h4>-->
    <!--</router-link>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-xs-offset-4 col-xs-4 text-center">-->
    <!--<a-->
    <!--@click="expand"-->
    <!--&gt;-->
    <!--<i class="glyphicon expand-reduce-awards" :class="buttonClass">-->
    <!--</i>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
</template>
<script>
    import {eventBus} from './../../../main'

    export default {
        props: ['data'],
        data() {
            return {
                getAll: false,
                buttonClass: 'glyphicon-menu-down',
                defaultSize: 1,

            }
        },
        methods: {
            expand() {
                this.getAll = !this.getAll;
                this.defaultSize = this.getAll ? this.data.length : 1
                this.buttonClass = this.getAll ? 'glyphicon-menu-up' : 'glyphicon-menu-down'
            },
        },
        computed: {
            getData() {
                if (!this.data) {
                    return []
                }

                if (this.getAll) {
                    return this.data;
                }
                return this.data.slice(0, this.defaultSize);
            }
        },
    }

</script>
<style>

</style>
