<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="text-center display-2">
                        Posters
                    </h3>
                    <h3 class="text-center display-2"><small></small></h3>
                    <br>
                </div>
            </div>
            <div class="row"  >
                <div class="col-md-3" v-for="item in getData">
                    <!--<router-link :to="item.link" tag="a" active-class="active" >-->
                        <a :href="item.link" target="_blank">
                        <img :src="item.firebaseImage" class="img-responsive poster-wall-image">
                        </a>
                    <!--</router-link>-->
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-4 text-center">
                    <v-btn flat primary @click="fiveLess">Four Less</v-btn>
                </div>
                <div class="col-xs-4 text-center">
                    <v-btn flat primary @click="expand">{{buttonText}}</v-btn>
                </div>
                <div class="col-xs-4 text-center">
                    <v-btn flat primary @click="fiveMore">Four More</v-btn>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {eventBus} from './../../../main'

export default{
    props: ['data'],
    data(){
        return {
            getAll: false,
            buttonText: 'Expand',
            defaultSize: 2
        }
    },
    computed:{
        getData(){
            if(this.getAll){
                return this.data;
            }
            return this.data.slice(0,this.defaultSize*4);
        }
    },
    methods:{
        expand(){
            this.getAll = !this.getAll;
            this.defaultSize = this.getAll ? this.data.length : 2
            this.buttonText = this.getAll ? 'Reduce' : 'Expand'
        },
        fiveLess(){
            if(this.defaultSize > 1){
                this.defaultSize--;
            }
        },
        fiveMore(){
            if(this.defaultSize < this.data.length){
                this.defaultSize++;
            }
        }
    }
}

</script>
<style>
    .image-poster{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .poster-wall-image {
        margin: 15px auto;
    }
</style>
